<!DOCTYPE html>
<html>
  <head>
    <title>Stock Price Checker</title>
    <meta name="description" content="A stock price checker">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <header>
      <h1>Stock Price Checker</h1>
    </header>
    
    <div id="testui">
      <h3>Front-End:</h3>
      <h3>Get single price and total likes</h3>
      <form id="testForm2" class="border">
        <input type="text" name="stock" placeholder="goog" required>
        <input type="checkbox" name="like" value="true"> Like?<br>
        <button type="submit">Get Price!</button>
      </form>
      <h3>Compare and get relative likes</h3>
      <form id="testForm" class="border">
        <input type="text" name="stock" placeholder="goog" required>
        <input type="text" name="stock" placeholder="msft" required>
        <input type="checkbox" name="like" value="true"> Like both?<br>
        <button type="submit">Get Price!</button>
      </form>
      <code id="jsonResult"></code>
    </div>
    <hr style="margin: 50px; margin-top: 200px">
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="./public/client.js"></script>
  </body>
</html>
